@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding:0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bad Script', cursive;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: #fff;
    padding: 20px;
    animation: head 1s infinite;
}
p {
    text-align: center;
}
footer {
    position: fixed;
    bottom:0;
    font-family: sans-serif;
}

footer a {
    text-decoration: none;
    color: #9ee715;
}
@keyframes head {
    0%,100% {
        transform: rotate(6deg)  ;
    }
    5%,95% {
        transform: none;
    }
}
p {
    color: #00b3ff;
    padding: 20px;
}
span {
    color: rgb(53, 228, 18);
}
#change {
    animation: date 1s infinite;
}
@keyframes date {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 500px) {
    footer {
        font-size: 0.8em;
    }
}
